@page "/products"
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http
@using FlowerCRM.Data
@inject NavigationManager Navigation

<h3>Products</h3>

@if (products == null)
{
    <p>Loading ....</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.ProductCode</td>
                    <td>@product.ProductDescription</td>
                    <td>@product.Price</td>
                    <td><a href="editproduct/@product.Id">Edit</a></td>
                    <td><button @onclick="() => BtnDelete_Onclicked(product.Id)">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}
<div>
    <a href="addproduct" target="_self">Add a Product</a>
</div>

@code {
    private Product[] products;
    private int id;
    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetFromJsonAsync<Product[]>("api/Products");
    }

    private async Task BtnDelete_Onclicked(int Id)
    {
        await Http.DeleteFromJsonAsync<Product>("api/Products/"+Id);
        Navigation.NavigateTo("products");

    }
}
